* {
  cursor: default !important;
}

/* Add these specific styles for radio inputs */
input[type="radio"] {
  cursor: default !important;
}

input[type="radio"] + span {
  cursor: default !important;
}

label:has(input[type="radio"]) {
  cursor: default !important;
}

/* Styling for code blocks */
pre {
  overflow-x: auto !important;
  white-space: pre !important;
  max-width: 100% !important;
}

/* Ensure SyntaxHighlighter scrolls horizontally */
.react-syntax-highlighter-line-number, 
.token, 
.react-syntax-highlighter-line {
  white-space: pre !important;
}
